.navigation {
  width: 70%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.navigation>div {
  margin-top: 159px;
  min-height: 122px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 520px)  {
  .navigation {
    width: 100%;
    padding-bottom: 46px;
  }
}
