.navigation {
  width: 520px;
  height: 100vh;
  top: 0;
  right: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  justify-content: space-between;
  padding: 159px 0 90px 0;
  box-sizing: border-box;
}

@media screen and (max-width: 520px)  {
  .navigation {
    width: 100%;
    padding-bottom: 46px;
  }
}
