.author__profession {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  margin-top: 18px;
  margin-bottom: 26px;
}

@media screen and (max-width: 1024px)  {
  .author__profession {
    font-size: 12px;
    line-height: 18px;
    margin-top: 16px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 650px)  {
  .author__profession {
    font-size: 11px;
    line-height: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
