.profile__info {
  width: 410px;
  margin-block-start: 0;
  padding-inline-start: 0;
  margin-bottom: 187px ;
}

@media screen and (max-width: 1024px)  {
  .profile__info {
    margin-bottom: 179px ;
  }
}

@media screen and (max-width: 520px)  {
  .profile__info {
    width: 260px;
    margin-bottom: 348px;
  }
}
