.about {
  max-width: 1140px;
  width: 100%;
  align-self: center;
}

@media screen and (max-width: 1180px)  {
  .about {
    max-width: 708px;
  }
}

@media screen and (max-width: 1024px)  {
  .about {
    max-width: 668px;
  }
}

@media screen and (max-width: 650px)  {
  .about {
    max-width: 284px;
  }
}
