# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


colors.css

RESULT_SAVED.png
RESULT_REGISTER.png
RESULT_PROFILE.png
RESULT_MAIN.png
RESULT_LOGIN.png
RESULT_LANDING.png
RESULT_404.png

RESULT_768_SAVED.png
RESULT_768_REGISTER.png
RESULT_768_PROFILE.png
RESULT_768_MAIN.png
RESULT_768_LOGIN.png
RESULT_768_LANDING.png
RESULT_768_404.png
RESULT_768_MENU.png

RESULT_320_SAVED.png
RESULT_320_REGISTER.png
RESULT_320_PROFILE.png
RESULT_320_MAIN.png
RESULT_320_LOGIN.png
RESULT_320_LANDING.png
RESULT_320_404.png
RESULT_320_MENU.png
