.portfolio__item-name {
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  margin-block-start: 0;
  margin-block-end: 0;
}

@media screen and (max-width: 1024px) {
  .portfolio__item-name {
    font-size: 28px;
  }
}

@media screen and (max-width: 650px) {
  .portfolio__item-name {
    font-size: 18px;
    line-height: 28px;
  }
}
