.author {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: center;
}

@media screen and (max-width: 1024px)  {
  .author {
    max-width: 668px;
  }
}

@media screen and (max-width: 650px)  {
  .author {
    max-width: 284px;
  }
}
