.author {
  width: 100%;
  margin: 0 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: center;
}

@media screen and (max-width: 1024px)  {
  .author {
  	margin: 0 50px;
    max-width: 668px;
  }
}

@media screen and (max-width: 650px)  {
  .author {
    max-width: 292px;
    margin: 0 18px;
  }
}
