.header__auth {
  margin-left: 919px;
  display: flex;
  gap: 50px;
}

@media screen and (max-width: 1024px)  {
  .header__auth {
    margin-left: 487px;
  }
}

@media screen and (max-width: 650px)  {
  .header__auth {
    margin-left: 122px;
  }
}
