.profile {
  display: flex;
  flex-direction: column;
  padding-top: 74px;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}


@media screen and (max-width: 800px)  {
  .profile {
    padding-top: 233px;
  }
}

@media screen and (max-width: 520px)  {
  .profile {
    padding-top: 70px;
  }
}
