.movie__photo {
  height: 200px;
  object-fit: cover;
  width: 364px;
}

@media screen and (max-width: 1180px)  {
  .movie__photo {
    height: 185px;
    width: 340px;
  }
}

@media screen and (max-width: 890px)  {
  .movie__photo {
    width: 339px;
  }
}

@media screen and (max-width: 720px)  {
  .movie__photo {
    height: 280px;
    width: 500px;
  }
}

@media screen and (max-width: 520px)  {
  .movie__photo {
    width: 300px;
    height: 170px;
  }
}
