.techs__content {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgb(0, 0, 0);
  padding-top: 90px;
  max-width: 1140px;
  width: 100%;
  align-self: center;
}

@media screen and (max-width: 1024px)  {
  .techs__content {
    padding-top: 83px;
    max-width: 668px;
  }
}

@media screen and (max-width: 650px)  {
  .techs__content {
    padding-top: 63px;
  }
}
