.checkbox {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

@media screen and (max-width: 1024px)  {
  .checkbox {
    margin-top: 37px;
  }
}

@media screen and (max-width: 890px)  {
  .checkbox {
    margin-top: 35px;
  }
}