.profile__link {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
  font-size: 13px;
  line-height: 16px;
}

.profile__link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 520px)  {
  .profile__link {
    font-size: 12px;
    line-height: 15px;
  }
}
