.techs__title {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  margin-top: 100px;
  margin-bottom: 23px;
}

@media screen and (max-width: 1024px)  {
  .techs__title {
    margin-top: 90px;
  }
}

@media screen and (max-width: 650px)  {
  .techs__title {
    font-size: 18px;
    line-height: 22px;
    margin: 50px 0 27px 0;
  }
}
