.search {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 0 70px;
  border-bottom: 1px solid #E8E8E8;
  max-width: 1140px;
}

@media screen and (max-width: 1180px)  {
  .search {
    max-width: 708px;
  }
}

@media screen and (max-width: 720px)  {
  .search {
    max-width: 500px;
  }
}

@media screen and (max-width: 520px)  {
  .search {
    max-width: 292px;
  }
}
