.profile__button {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
  font-size: 13px;
  line-height: 16px;
  background: none;
  border: none;
  font-weight: 500;
}

.profile__button:disabled {
  opacity: 0.2;
  pointer-events:none;
}


.profile__button:hover {
  text-decoration: underline;
}

@media screen and (max-width: 520px)  {
  .profile__button {
    font-size: 12px;
    line-height: 15px;
  }
}

