.navtab {
  align-self: center;
  display: flex;
  justify-content: space-between;
  margin: 151px auto 30px auto;
  gap: 10px;
}

@media screen and (max-width: 1024px)  {
  .navtab {
    margin-top: 314px;
  }
}

@media screen and (max-width: 650px)  {
  .navtab {
    margin-top: 212px;
    margin-bottom: 20px;
  }
}
