.header__links {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
  align-items: center;
  margin-left: 32%;
}

@media screen and (max-width: 1180px) {
  .header__links {
    margin-left: 20%;
  }
}

@media screen and (max-width: 800px) {
  .header__links {
	display: none;
  }
}
