@import url(../../blocks/form/form.css);
@import url(../../blocks/form/__container/form__container.css);
@import url(../../blocks/form/__title/form__title.css);
@import url(../../blocks/form/__field/form__field.css);
@import url(../../blocks/form/__label/form__label.css);
@import url(../../blocks/form/__input-error/form__input-error.css);
@import url(../../blocks/form/__input-error/_active/form__inpur-error_active.css);
@import url(../../blocks/form/__input-field/form__input-field.css);
@import url(../../blocks/form/__submit-button/form__submit-button.css);
@import url(../../blocks/form/__submit-button/_inactive/form__submit-button_inactive.css);
@import url(../../blocks/form/__link/form__link.css);
@import url(../../blocks/form/__logo/form__logo.css);
@import url(../../blocks/form/__logo-container/form__logo-container.css);
@import url(../../blocks/form/__span/form__span.css);
@import url(../../blocks/form/__span-block/form__span-block.css);
@import url(../../blocks/form/__footer/form__footer.css);
@import url(../../blocks/form/__footer-error/form__footer-error.css);
@import url(../../blocks/form/__footer-error/_active/form__footer-error_active.css);