.about__column-text {
  font-size: 14px;
  line-height: 20px;
  margin-top: 26px;
}

@media screen and (max-width: 1024px)  {
  .about__column-text {
    font-size: 12px;
    line-height: 18px;
    margin-top: 22px;
  }
}

@media screen and (max-width: 650px)  {
  .about__column-text {
    font-size: 11px;
    line-height: 16px;
    margin-top: 16px;
  }
}
