.movies__more-button {
  height: 36px;
  width: 320px;
  border-radius: 6px;
  background-color: #F9F9F9 ;
  border: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  transition: opacity 0.2s ease-out;
  cursor: pointer;
  align-self: auto;
  margin: 61px auto 89px auto;
}

.movies__more-button:hover{
  background: rgba(0, 0, 0, 0.2);
}
