.about__column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 550px;
}

@media screen and (max-width: 1024px)  {
  .about__column {
    max-width: 319px;
  }
}
