.author__title {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  margin-top: 110px;
  margin-bottom: 23px;
  margin-left: 70px;
}

@media screen and (max-width: 1024px)  {
  .author__title {
    margin-top: 90px;
    margin-left: 0;
  }
}

@media screen and (max-width: 650px)  {
  .author__title {
    font-size: 18px;
    line-height: 22px;
    margin-top: 135px;
  }
}
