.about__roadmap {
  display: flex;
  max-width: 1140px;
  margin: 96px auto 110px;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (max-width: 1024px)  {
  .about__roadmap{
    margin-top: 80px;
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 650px)  {
  .about__roadmap{
    margin-top: 49px;
    font-size: 11px;
    line-height: 13px;
  }
}
