.checkbox__toggle {
  position: relative;
  width: 36px;
  height: 20px;
  border-radius: 20px;
  background-color: #FFFFFF;
  /*box-shadow: 0px 4px 8px 0px rgba(50, 50, 71, 0.06);*/
  box-shadow: 0px 4px 4px 0px rgba(50, 50, 71, 0.08);
  z-index: 0;
}

.checkbox__toggle input {
  opacity: 0;
}
